
<launch>

  <!-- start the simulator with some objects and turtlebot -->

    <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch" >
    <arg name="world_file" value="$(find a1_456_referee)/worlds/my_mesh.world"/>

  </include>
  
  <!-- start some visualisations from the robot's perspective -->
  
  <include file="$(find turtlebot_rviz_launchers)/launch/view_navigation.launch"/>
  
  <!-- the referee node -->
  
  <node pkg="a1_456_referee" type="referee_node_a1_456" name="referee_node_a1_456" output="screen">
  </node>

</launch>
